<div class="container">
  <mat-card [ngStyle]="{ padding: '20px 0' }" *ngFor="let p of product | async">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="d-flex align-contents-center">
            <swiper-container
              class="mySwiper"
              effect="cards"
              grab-cursor="true"
            >
              <swiper-slide>
                <img
                  class="image"
                  src="images/{{ p.image_1 }}"
                  (click)="makeImageLarge(p.image_1)"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  class="image"
                  src="images/{{ p.image_2 }}"
                  (click)="makeImageLarge(p.image_2)"
                />
              </swiper-slide>
              <swiper-slide>
                <img
                  class="image"
                  src="images/{{ p.image_3 }}"
                  (click)="makeImageLarge(p.image_3)"
                />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        <div class="col">
          <div
            class="d-flex flex-column align-items-center"
            [ngStyle]="{ marginTop: '30%' }"
          >
            <h4 class="edu-vic-wa-nt-beginner">{{ p.product_name }}</h4>
            <h5 class="raleway">Price: ${{ p.product_price }}</h5>
            <mat-form-field>
              <mat-label>Select Quantity</mat-label>
              <mat-select #quantity>
                <mat-option
                  *ngFor="
                    let quantity of [].constructor(p.max_quantity);
                    let i = index
                  "
                  [value]="i + 1"
                  >{{ i + 1 }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <button
              mat-raised-button
              (click)="
                add(
                  0,
                  p.product_id,
                  p.product_name,
                  p.image_1,
                  p.product_price,
                  quantity,
                  'pending'
                )
              "
              [ngStyle]="{ color: '#fff', backgroundColor: '#fc5c65' }"
            >
              Add To Cart
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <br />
            <button
              mat-raised-button
              routerLink="/cart"
              [ngStyle]="{ color: '#fff', backgroundColor: '#ffa801' }"
            >
              Go To Cart
              <mat-icon>shopping_cart_checkout</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<br />

<div class="container" *ngFor="let i of productReviews | async">
  <mat-card class="example-card" appearance="outlined">
    <div class="container mt-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
            <div class="bg-white p-2">
              <div class="d-flex flex-row user-info">
                <img
                  class="rounded-circle"
                  src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTExXzEucG5n.png"
                  width="40"
                />
                <div class="d-flex flex-column justify-content-start ml-2">
                  <span class="d-block font-weight-bold name">{{
                    i.username
                  }}</span
                  ><span class="date text-black-50"
                    >Shared publicly - {{ i.date | date }}</span
                  >
                </div>
              </div>
              <div class="mt-2">
                <p class="comment-text">
                  {{ i.review }}
                </p>
              </div>
            </div>
            <div class="bg-white">
              <div class="d-flex flex-row fs-12">
                <div class="like p-2 cursor d-flex align-items-center">
                  <mat-icon>thumb_up_off_alt</mat-icon
                  ><span class="ml-1">Like</span>
                </div>
                <div class="like p-2 cursor d-flex align-items-center">
                  <mat-icon>thumb_down_off_alt</mat-icon
                  ><span class="ml-1">Dislike</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="container user-review">
  <mat-form-field class="example-full-width">
    <mat-label>Add A Product Review</mat-label>
    <textarea
      [(ngModel)]="productReview"
      matInput
      placeholder="Ex. Excellent"
    ></textarea>
  </mat-form-field>
  <button
    (click)="addProductReview()"
    mat-flat-button
    [disabled]="addingReview"
  >
    {{ !addingReview ? "Add A Review" : "Posting..." }}
  </button>
</div>

<!-- <div *ngFor="let item of [].constructor(10); let i = index">
    {{ i + 1 }}
  </div> -->
